# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

files: |
    (?x)(
        noxfile\.py|
        setup\.py|
        docs\/.+\.py|
        lib\/.+\.py|
        benchmarks\/.+\.py
    )
minimum_pre_commit_version: 1.21.0

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
        # Prevent giant files from being committed.
    -   id: check-added-large-files
        # Check whether files parse as valid Python.
    -   id: check-ast
        # Check for file name conflicts on case-insensitive filesytems.
    -   id: check-case-conflict
        # Check for files that contain merge conflict strings.
    -   id: check-merge-conflict
        # Check for debugger imports and py37+ `breakpoint()` calls in Python source.
    -   id: debug-statements
        # Don't commit to main branch.
    -   id: no-commit-to-branch

-   repo: https://github.com/psf/black
    rev: 21.10b0
    hooks:
    -   id: black
        pass_filenames: false
        args: [--config=./pyproject.toml, .]

-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        types: [file, python]
        args: [--config=./setup.cfg]

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        types: [file, python]
        args: [--filter-files]

-   repo: https://github.com/asottile/blacken-docs
    rev: v1.11.0
    hooks:
    -   id: blacken-docs
        types: [file, rst]
        additional_dependencies: [black==21.6b0]

-   repo: https://github.com/aio-libs/sort-all
    rev: v1.1.0
    hooks:
    -   id: sort-all
        types: [file, python]
