#
# Based on pelson's travis work for cartopy.
#
# Please update the cartopy, test data, and sample data git references below if appropriate.
#
# Note: Contrary to the travis documentation,
# http://about.travis-ci.org/docs/user/languages/python/#Travis-CI-Uses-Isolated-virtualenvs
# we will use the system python because it takes too long to install scipy from source.
#


language: python
python:
  - 2.7


install:

  - export CARTOPY_REF="v0.7.0"
  - export CARTOPY_SUFFIX=$(echo "${CARTOPY_REF}" | sed "s/^v//")

  - export IRIS_TEST_DATA_REF="v1.1"
  - export IRIS_TEST_DATA_SUFFIX=$(echo "${IRIS_TEST_DATA_REF}" | sed "s/^v//")

  - export IRIS_SAMPLE_DATA_REF="v1.0"
  - export IRIS_SAMPLE_DATA_SUFFIX=$(echo "${IRIS_SAMPLE_DATA_REF}" | sed "s/^v//")

# add repo
  - ./.travis_no_output sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 3E5C1192
  - yes | ./.travis_no_output sudo add-apt-repository ppa:olivier-berten/geo
  - ./.travis_no_output sudo apt-get update

# install deps
  - ./.travis_no_output sudo apt-get install python-scipy cython python-pip
  - ./.travis_no_output sudo /usr/bin/pip install --use-mirrors shapely nose pyshp pep8 mock
  - ./.travis_no_output sudo /usr/bin/pip install matplotlib==1.2.0
  - ./.travis_no_output sudo apt-get install libgeos-dev libproj-dev
  - ./.travis_no_output sudo apt-get install libudunits2-dev libhdf5-serial-dev netcdf-bin libnetcdf-dev
  - ./.travis_no_output sudo apt-get install make unzip python-sphinx graphviz
  - ./.travis_no_output sudo /usr/bin/pip install pyke netCDF4
  - ./.travis_no_output sudo apt-get install openjdk-7-jre
  - ./.travis_no_output sudo apt-get install python-gdal
  - export LD_LIBRARY_PATH=/usr/lib/jvm/java-7-openjdk-amd64/jre/lib/amd64/server:$LD_LIBRARY_PATH

# grib api
  - ./.travis_no_output sudo apt-get install libjasper-dev
  - ./.travis_no_output sudo apt-get build-dep libgrib-api-1.9.9 libgrib-api-dev libgrib-api-tools
  - ./.travis_no_output wget https://software.ecmwf.int/wiki/download/attachments/3473437/grib_api-1.9.16.tar.gz --no-check-certificate
  - ./.travis_no_output tar -xvf grib_api-1.9.16.tar.gz
  - cd grib_api-1.9.16/
  - ../.travis_no_output CFLAGS="-fPIC" ./configure --with-jasper=/usr/local/lib --disable-fortran --enable-python
  - ../.travis_no_output make
  - ../.travis_no_output sudo make install
  - cd python
  - ../../.travis_no_output sudo /usr/bin/python setup.py install
  - cd ../..

# ESMPy
  - ./.travis_no_output mkdir -p ~/esmpy
  - ./.travis_no_output cd ~/esmpy
  - ./.travis_no_output wget http://www.earthsystemmodeling.org/python_releases/ESMPy_620b10_04/ESMPy_620b10_04.tar.bz2
  - ./.travis_no_output tar -xvf ESMPy_620b10_04.tar.bz2
  - ./.travis_no_output export ESMF_DIR=/home/travis/esmpy/ESMPy_620b10_04/esmf
  - ./.travis_no_output export ESMPY_DIR=/home/travis/esmpy/ESMPy_620b10_04/ESMPy
  - ls $ESMF_DIR
  - ./.travis_no_output cd $ESMF_DIR
  - ./.travis_no_output make
  - ./.travis_no_output export ESMFMKFILE=$(find $ESMF_DIR -iname esmf.mk)
  - ./.travis_no_output cd $ESMPY_DIR
  - ./.travis_no_output python setup.py
  - ./.travis_no_output echo "${ESMPY_DIR}/src/" >~/.local/lib/python2.7/site-packages/esmpy.pth

# distutils
  - ./.travis_no_output wget http://python-distribute.org/distribute_setup.py
  - ./.travis_no_output sudo /usr/bin/python distribute_setup.py

# cartopy
  - ./.travis_no_output wget -O cartopy.zip https://github.com/SciTools/cartopy/archive/${CARTOPY_REF}.zip
  - ./.travis_no_output unzip -q cartopy.zip
  - ln -s $(pwd)/cartopy-${CARTOPY_SUFFIX} cartopy
  - cd cartopy
  - ../.travis_no_output /usr/bin/python setup.py install --user
  - cd ..
  
# mo_unpack
  - ./.travis_no_output wget https://puma.nerc.ac.uk/trac/UM_TOOLS/raw-attachment/wiki/unpack/unpack-030712.tgz
  - ./.travis_no_output tar -xf unpack-030712.tgz
  - cd unpack-030712/libmo_unpack
#?  - gcc -c -fPIC -O4 -mfpmath=sse -msse -I include -D_LARGEFILE_SOURCE -D_LARGEFILE_SOURCE64 -D_FILE_OFFSET_BITS=64 *.c
  - ../../.travis_no_output gcc -c -fPIC -O4 -mfpmath=sse -msse -I include -D_LARGEFILE_SOURCE *.c
  - ../../.travis_no_output gcc -shared -Wl,-soname,libmo_unpack.so -o lib/libmo_unpack.so *.o
  - ../../.travis_no_output sudo cp lib/* /usr/local/lib
  - ../../.travis_no_output sudo cp include/* /usr/local/include
  - cd ../..

# iris test data
  - ./.travis_no_output wget -O iris-test-data.zip https://github.com/SciTools/iris-test-data/archive/${IRIS_TEST_DATA_REF}.zip
  - ./.travis_no_output unzip -q iris-test-data.zip
  - ln -s $(pwd)/iris-test-data-${IRIS_TEST_DATA_SUFFIX} iris-test-data

# iris sample data
  - ./.travis_no_output wget -O iris-sample-data.zip https://github.com/SciTools/iris-sample-data/archive/${IRIS_SAMPLE_DATA_REF}.zip
  - ./.travis_no_output unzip -q iris-sample-data.zip
  - ln -s $(pwd)/iris-sample-data-${IRIS_SAMPLE_DATA_SUFFIX} iris-sample-data
  
# iris
  - ./.travis_no_output /usr/bin/python setup.py --with-unpack build_ext --inplace -I/usr/local/include -L/usr/local/lib -R/usr/local/lib
  - ./.travis_no_output /usr/bin/python setup.py std_names
  - echo "[Resources]" > lib/iris/etc/site.cfg
  - echo "sample_data_dir = $(pwd)/iris-sample-data/sample_data" >> lib/iris/etc/site.cfg
  - echo "test_data_dir = $(pwd)/iris-test-data/test_data" >> lib/iris/etc/site.cfg
  - ln -s $(pwd)/lib/iris /home/travis/.local/lib/python2.7/site-packages/iris

  
script:
  - /usr/bin/python setup.py test

#  - echo --- RUNNING DOCTESTS ---
#  - cd $(pwd)/docs/iris
#  - make doctest

#  - echo --- RUNNING EXTESTS ---
#  - make extest

