# Use this file to create a conda environment using:
# conda create -n <name> --file conda-requirements.txt

# Mandatory dependencies
biggus>=0.14.0
cartopy
matplotlib=1.3.1
netcdf4
numpy
pyke
udunits2
cf_units

# Iris build dependencies
setuptools

# Iris testing/documentation dependencies
mock
nose
pep8=1.5.7
sphinx
iris_sample_data

# Optional iris dependencies
nc_time_axis
iris_grib
ecmwf_grib
esmpy>=7.0
gdal
libmo_unpack
pandas
pyugrid
mo_pack=0.2.0
