prune .github
prune benchmarks
prune docs
prune etc
recursive-include lib *.cdl *.cml *.json *.md *.py *.template *.txt *.xml
prune requirements
recursive-include requirements *.txt
prune tools
exclude .flake8
exclude .git-blame-ignore-revs
exclude .git_archival.txt
exclude .gitattributes
exclude .gitignore
exclude .mailmap
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude CHANGES
exclude codecov.yml
include COPYING
include COPYING.LESSER
exclude Makefile
exclude noxfile.py

# files required to build iris.std_names module
include etc/cf-standard-name-table.xml
include tools/generate_std_names.py

global-exclude *.py[cod]
global-exclude __pycache__