# Top-level files
include CHANGES COPYING COPYING.LESSER
prune .github
exclude .gitignore

# Files required for conda package management
recursive-include requirements *

# Files required to build docs
recursive-include docs *
prune docs/src/_build
prune docs/src/generated
prune docs/gallery_tests

# Files required to build std_names module
include tools/generate_std_names.py
include etc/cf-standard-name-table.xml

global-exclude *.py[cod]
global-exclude __pycache__