[project]
	description = A powerful, easy to use, and community-driven Python library for analysing and visualising meteorological and oceanographic data sets.
[access "refs/*"]
	owner = group user/Byron Blay (bblay)
[access "refs/for/refs/*"]
	read = group user/Byron Blay (bblay)
	push = group user/Byron Blay (bblay)
	label-Code-Review = -2..+2 group user/Byron Blay (bblay)
	label-Verified = -1..+1 group user/Byron Blay (bblay)
	rebase = group user/Byron Blay (bblay)
	removeReviewer = group user/Byron Blay (bblay)
	submit = group user/Byron Blay (bblay)
[access "refs/heads/*"]
	read = group user/Byron Blay (bblay)
	create = group user/Byron Blay (bblay)
	push = +force group user/Byron Blay (bblay)
	pushMerge = group user/Byron Blay (bblay)
[access "refs/tags/*"]
	push = +force group user/Byron Blay (bblay)
	pushTag = group user/Byron Blay (bblay)
	pushSignedTag = group user/Byron Blay (bblay)
