name: "persist-dir-cache"
description: "Use caching to persist a directory across workflow runs"

inputs:
  cache_path:
    description: "path to the directory to cache"
    required: true
  cache_build:
    description: "persist dir cache build number"
    required: false
    default: "0"
  cache_period:
    description: "persist dir cache timestamp"
    required: true

runs:
  using: "composite"
  steps:
    - id: sanitise-cache-path
      run: echo "SANITISED_PATH=$(echo '${{ inputs.cache_path }}' | sed 's|/|_|g')" >> $GITHUB_OUTPUT

    - id: define-cache-key
      run: |
        OS="${{ runner.os }}"
        DIR_PATH="${{ steps.sanitise-cache-path.outputs.SANITISED_PATH }}"
        PERIOD="${{ inputs.cache_period }}"
        BUILD="${{ inputs.cache_build }}"
        CACHE_KEY="${DIR_PATH}_cached-${OS}-p${PERIOD}-b${BUILD}"
        echo "CACHE_KEY=$CACHE_KEY" >> $GITHUB_ENV

    - id: restore-dir-cache
      uses: actions/cache/restore@v4
      with:
        path: ${{ inputs.cache_path }}
        key: ${{ env.CACHE_KEY }}

  post:
    - id: save-dir-cache
      uses: actions/cache/save@v4
      with:
        path: ${{ inputs.cache_path }}
        key: ${{ env.CACHE_KEY }}
