name: "persist-dir-cache"
description: "Use caching to persist a directory across workflow runs"

inputs:
  cache_path:
    description: "path to the directory to cache"
    required: true
  cache_build:
    description: "persist dir cache build number"
    required: false
    default: "0"
  cache_period:
    description: "persist dir cache timestamp"
    required: true
  key_suffix:
    description: "optional suffix to append to the cache key"
    required: false
    default: ""

runs:
  using: "composite"
  steps:
    # Work around bug where inputs.cache_path is unavailable for the post-cache
    #  step. https://github.com/actions/runner/issues/2009
    - id: store-path
      shell: bash
      run: echo "CACHE_PATH=${{ inputs.cache_path }}" >> $GITHUB_ENV

    - id: sanitise-cache-path
      shell: bash
      run: echo "SANITISED_PATH=$(echo '${{ inputs.cache_path }}' | sed 's|/|_|g')" >> $GITHUB_OUTPUT

    - id: define-cache-key
      shell: bash
      run: |
        OS="${{ runner.os }}"
        DIR_PATH="${{ steps.sanitise-cache-path.outputs.SANITISED_PATH }}"
        PERIOD="${{ inputs.cache_period }}"
        BUILD="${{ inputs.cache_build }}"
        SUFFIX="${{ inputs.key_suffix }}"
        CACHE_KEY="${DIR_PATH}_cached-${OS}-p${PERIOD}-b${BUILD}-${SUFFIX}"
        echo "CACHE_KEY=$CACHE_KEY" >> $GITHUB_ENV

    - id: dir-cache
      uses: actions/cache@v4
      with:
        path: ${{ env.CACHE_PATH }}
        # This pattern allows continual updating of the cache_path with each new
        #  commit. The most recent cache matching CACHE_KEY will be used, while
        #  any updates will create a new cache entry specific to the commit SHA,
        #  which will then be available to the next run as the new most-recent
        #  cache.
        key: ${{ env.CACHE_KEY }}-${{ github.sha }}
        restore-keys: |
          ${{ env.CACHE_KEY }}
