body {
    font-family: 'Noto Sans', sans-serif;
}

.sidebar { z-index: 10; }

.highlight { background: none; }

p.hr_p {
    overflow: hidden;
    text-align: center;
}
p.hr_p a {
    font-size: small;
    color: #1C86EE;
}
p.hr_p:before,
p.hr_p:after {
    background-color: #abc;
    border: 1px solid #abc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
p.hr_p:before {
    right: 0.5em;
    margin-left: -50%;
}
p.hr_p:after {
    left: 0.5em;
    margin-right: -50%;
}

.header-content {
    background-color: white;
    text-align: left;
    padding: 0px;
    height: 149px;
}

.header-content img {
    height: 100px;
    vertical-align: middle;
    float: left;
    margin: 20px 2em 0.8em 4%;
    padding: 0px;
}

.header-content .strapline {
    display: inline-block;
    width: calc(100% - 110px - 2em - 4%);
}

.strapline p {
    font-size: medium;
    font-family: 'Alike', serif;
    font-weight: bold;
    color: #444444;
    max-width: 52ch;
    margin-top: 0.25em;
}

.header-content h1 {
    font-size: 3.5rem;
    font-family: 'Alike', serif;
    margin-top: 40px;
    padding: 0px;
    color: #323232;
    padding-bottom: 0.2em;
}

.header-content h1 span.version {
    font-size: 1.5rem;
}

.github-forkme {
  position: absolute;
  top: 0;
  right: 80px;
  border: 0;
}

/* Take into account the resizing effect of the page (which has a minimum */
/* width of 740px + 80px margins). */
@media screen and (max-width: calc(740px + 80px + 80px)) {
  .github-forkme {
    right: calc(100% - 740px - 80px);
  }
}

@media screen and (max-width: calc(740px + 80px)) {
  .github-forkme {
    left: calc(740px + 80px - 149px);
    right: 0px;
  }
}
