name: "conda-pkg-cache"
description: "standardise conda package cache to ~/conda_pkgs_dir and cache across workflow runs"

env:
  # Lets us manually bump the cache to rebuild.
  CACHE_BUILD: 0
  # Maximum cache period (in weeks) before forcing a cache refresh.
  CACHE_WEEKS: 2

runs:
  using: "composite"
  steps:
    - id: set-pkg-dir
      run: conda config --add pkgs_dirs ~/conda_pkgs_dir

    - id: set-cache-period
      run: echo "CACHE_PERIOD=$(date +%Y).$(expr $(date +%U) / ${{ env.CACHE_WEEKS }})" >> $GITHUB_OUTPUT

    - id: conda-pkg-cache
      uses: ./.github/workflows/composite/persist-dir-cache
      with:
        cache_path: ~/conda_pkgs_dir
        cache_build: ${{ env.CACHE_BUILD }}
        cache_period: ${{ steps.set-cache-period.outputs.CACHE_PERIOD }}
