name: "conda-pkg-cache"
description: "standardise conda package cache to ~/conda_pkgs_dir and cache across workflow runs"

inputs:
  python_version:
    description: "conda package cache python version"
    required: false
    default: "3.13"

runs:
  using: "composite"
  steps:
    - id: set-cache-period
      shell: bash
      env:
        # Maximum cache period (in weeks) before forcing a cache refresh.
        CACHE_WEEKS: 2
      run: echo "CACHE_PERIOD=$(date +%Y).$(expr $(date +%U) / ${CACHE_WEEKS})" >> $GITHUB_OUTPUT

    - id: define-cache-key
      shell: bash
      env:
        # Lets us manually bump the cache to rebuild.
        CACHE_BUILD: "0"
      run: |
        OS="${{ runner.os }}"
        PERIOD="${{ steps.set-cache-period.outputs.CACHE_PERIOD }}"
        BUILD="${{ env.CACHE_BUILD }}"
        PY="${{ inputs.python_version }}"
        REQ="${{ hashFiles('requirements/locks/**') }}"
        CACHE_KEY="conda_pkgs_dir-${OS}-p${PERIOD}-b${BUILD}-py${PY}-${REQ}"
        echo "CACHE_KEY=$CACHE_KEY" >> $GITHUB_ENV

    - id: set-pkg-dir
      shell: bash
      run: conda config --add pkgs_dirs ~/conda_pkgs_dir

    - id: conda-pkg-cache
      uses: actions/cache@v4
      with:
        path: ~/conda_pkgs_dir
        key: ${{ env.CACHE_KEY }}
