name: "conda-pkg-cache"
description: "standardise conda package cache to ~/conda_pkgs_dir and cache across workflow runs"

inputs:
  python_version:
    description: "conda package cache python version"
    required: false
    default: "3.13"

runs:
  using: "composite"
  steps:
    - id: set-pkg-dir
      shell: bash
      run: conda config --add pkgs_dirs ~/conda_pkgs_dir

    - id: set-cache-period
      shell: bash
      env:
        # Maximum cache period (in weeks) before forcing a cache refresh.
        CACHE_WEEKS: 2
      run: echo "CACHE_PERIOD=$(date +%Y).$(expr $(date +%U) / ${CACHE_WEEKS})" >> $GITHUB_OUTPUT

    - id: conda-pkg-cache
      uses: ./.github/workflows/composite/persist-dir-cache
      env:
        CACHE_BUILD: ${{ env.CACHE_BUILD }}
      with:
        cache_path: ~/conda_pkgs_dir
        # Lets us manually bump the cache to rebuild.
        cache_build: 0
        cache_period: ${{ steps.set-cache-period.outputs.CACHE_PERIOD }}
        key_suffix: "py${{ inputs.python_version }}"
