name: benchmarks-validate
run-name: Validate the benchmarking setup

on:
  push:
    branches:
      - "main"
      - "v*x"
    tags:
      - "v*"
  pull_request:
    branches:
      - "*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install run dependencies
        run: pip install asv nox!=2025.05.01

      # Note: this cache is shared across workflows, so sets its own cache period
      #  and build number.
      - name: Cache Conda package directory
        uses: ./.github/workflows/composite/conda-pkg-cache

      - name: Validate setup
        run: nox -s benchmarks -- validate
