name: ci-citation

on:
  pull_request:
    paths:
      - "CITATION.cff"

  push:
    paths:
      - "CITATION.cff"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    name: "validate"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "check CITATION.cff"
        uses: citation-file-format/cffconvert-github-action@4cf11baa70a673bfdf9dad0acc7ee33b3f4b6084
        with:
          args: "--validate"
