name: Linkcheck

on:
  workflow_dispatch:
  schedule:
    - cron: "00 06 * * *"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      issues: write # required for peter-evans/create-issue-from-file
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@5c4ee84814c983aa7164eaee476f014e53ff3963
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          fail: false
          args: "--verbose --max-concurrency 1 './docs/**/*.rst' './docs/**/*.inc' './lib/**/*.py'"

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@e8ef132d6df98ed982188e460ebb3b5d4ef3a9cd
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: "Bot, Type: Documentation, Type: Bug"

      - name: Fail Workflow On Link Errors
        if: steps.lychee.outputs.exit_code != 0
        run:
          exit {{ steps.lychee.outputs.exit_code }}
